.App {
  text-align: center;
}

.btn{
  margin-left: 5px;
  margin-right: 5px;
}

h1{
  margin-bottom: 10px;
}

.maxwidth{
  max-width: 20%;
  margin-left: 40%;
  border-color: green;
}

.postwidth{
  max-width: 40%;
  margin-left: 20%;
  position: absolute;
  top: 15%;
}
.postwidthright{
  max-width: 40%;
  margin-left: 60%;
  position: absolute;
  top: 15%;
}

.postinput{
  width: 50px;
  height: 40px;
}
div{
  padding-bottom: 18px;
}

